<p>about works!</p>
<div class="container">
 
    <div class="center1">
        <div class="img">
            <div class="imgcard">

                <img src="../../assets/me.jpg" alt="" class="img">
            </div>
        </div>
     

            <div class="experience">
                <div class="grid">

                    <div class="cards_info">
    
                        <div class="card">
                            <div class="text">
                                <div class="badge">
            
                                    <img src="../../assets/badge.png" alt="img1">
                                </div>
                                <div class="text_inner">
            
                                    <h2>Experience</h2>
                                </div>
                                <div class="text_inner">
            
                                    <h3> 2 years </h3>
                                </div>
                                <div class="text_inner">
            
                                    <h3>Backend & Frontend</h3>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="text">
                                <div class="badge">
            
                                    <img src="../../assets/education.png" alt="img1">
                                </div>
                                <div class="text_inner">
            
                                    <h3>Education</h3>
                                </div>
                                <div class="text_inner">
            
                                    <h4> MS. Cyber Security </h4>
                                </div>
                                <div class="text_inner">
            
                                    <h4>B.Tech Computer Science</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="personal_info">
                        <div class="text1">

                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab praesentium dolorem ad dolore minus dolorum! Nostrum, maiores non! Molestiae atque laboriosam aperiam animi magni quasi, necessitatibus illum cumque non voluptatem!</p>
                        </div>
                    </div>
                </div>
              
    
            </div>
           
  
        
       
    </div>
</div>
