<header>
    <nav class="conatiner">
        <div class="name">

            <h2>Girish</h2>
        </div>


        <ul>
            <li>home</li>
            <li>about</li>
            <li>project</li>
        </ul>

    </nav>

    <section class="center">

        <div class="container">

            <div class="img">

                <img class="me" src="../../assets/me.jpg" alt=" girish" >
            </div>


            <div class="text">

                <div class="text1">
                    <h3>Hi i am </h3>
                </div>
                <div class="text2">

                    <h2> souki girish kumar</h2>
                </div>
                <div class="text3">

                    <h3>Backend Developer</h3>
                </div>
                <div class="button">
                    <button>Resume</button>
                    <button>connect me</button>
                </div>
                <div class="connect">
                   <img src="../../assets/icons8-linkedin-48.png" alt="github" class="conections">
                    <img src="../../assets/icons8-github-48.png" alt="">
                </div>
            </div>
        </div>

    </section>
</header>